<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NSEP</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserModuleServlet</display-name>
    <servlet-name>UserModuleServlet</servlet-name>
    <servlet-class>com.tcs.nsep.servlet.UserModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserModuleServlet</servlet-name>
    <url-pattern>/UserModuleServlet</url-pattern>
    <url-pattern>/BankUserModuleServlet</url-pattern>
    <url-pattern>/CollegeUserModuleServlet</url-pattern>
    <url-pattern>/MemberUserModuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.tcs.nsep.action.account.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/AccountController</url-pattern>
    <url-pattern>/RegisterAccount</url-pattern>
    <url-pattern>/StudentAccountDetails</url-pattern>
    <url-pattern>/RelatedAccountDetails</url-pattern>
    <url-pattern>/ViewForDefaulter</url-pattern>
    <url-pattern>/ViewDefaulterReport</url-pattern>
    <url-pattern>/GenerateMonthlyTopUp</url-pattern>
    <url-pattern>/GenerateQuarterlyBonus</url-pattern>
    <url-pattern>/GenerateAnnualBonus</url-pattern>
    <url-pattern>/AddMonthlyDeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.tcs.nsep.action.registration.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
    <url-pattern>/StudentRegistration</url-pattern>
    <url-pattern>/CollegeRegistration</url-pattern>
    <url-pattern>/BankRegistration</url-pattern>
    <url-pattern>/MeetSPOC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoanController</display-name>
    <servlet-name>LoanController</servlet-name>
    <servlet-class>com.tcs.nsep.action.loan.LoanController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanController</servlet-name>
    <url-pattern>/LoanController</url-pattern>
    <url-pattern>/GenerateCertificate</url-pattern>
    <url-pattern>/ViewApplication</url-pattern>
    <url-pattern>/ViewLoanStatus</url-pattern>
    <url-pattern>/ChangeStatus</url-pattern>
    <url-pattern>/LoanStatus</url-pattern>
    <url-pattern>/ChangeLoanParameter</url-pattern>
    <url-pattern>/LoanRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionNSEP</display-name>
    <servlet-name>SessionNSEP</servlet-name>
    <servlet-class>com.tcs.nsep.action.session.SessionNSEP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionNSEP</servlet-name>
    <url-pattern>/SessionNSEP</url-pattern>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.tcs.nsep.action.init.Controller</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCOracleDB</display-name>
    <servlet-name>JDBCOracleDB</servlet-name>
    <servlet-class>com.tcs.nsep.database.JDBCOracleDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCOracleDB</servlet-name>
    <url-pattern>/JDBCOracleDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoanModuleServlet</display-name>
    <servlet-name>LoanModuleServlet</servlet-name>
    <servlet-class>com.tcs.nsep.servlet.LoanModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoanModuleServlet</servlet-name>
    <url-pattern>/LoanModuleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountModuleServlet</display-name>
    <servlet-name>AccountModuleServlet</servlet-name>
    <servlet-class>com.tcs.nsep.servlet.AccountModuleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountModuleServlet</servlet-name>
    <url-pattern>/AccountModuleServlet</url-pattern>
  </servlet-mapping>
</web-app>